/**********************
  Expensr
  TinaciousDesign.com
  Ordeau.com
**********************/

@import 'normalize.css';

// ligature symbol font
@font-face {
    font-family: 'LigatureSymbols';
    src: url('LigatureSymbols-2.09.eot');
    src: url('LigatureSymbols-2.09.eot?#iefix') format('embedded-opentype'),
         url('LigatureSymbols-2.09.woff') format('woff'),
         url('LigatureSymbols-2.09.ttf') format('truetype'),
         url('LigatureSymbols-2.09.svg#LigatureSymbols') format('svg');
    src: url('LigatureSymbols-2.09.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  font-style: normal;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
}

// mixins and variables
@mobile: ~"all and (max-width: 500px)";

.box-sizing() {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

// styles
html, input {
	-webkit-font-smoothing: antialiased;
}
html {
	background: lighten(palegreen,10%);
}
body {
	font-family: "museo-slab", 'helvetica neue', arial, sans-serif;
	font-size: 1.1em;
	
}
h1, h2, h3, h4 {
	font-weight: 100;
}

.container {
	max-width: 500px;
	padding: 20px;
	margin: 20px auto;
	background: #fff;
	@media @mobile {
		margin: 0 auto;
	}
}

// Welcome
.welcome {
	//
}

// Form
:focus {
	outline: 0;
	box-shadow: 0 0 10px fade(dodgerblue,40%);
}
label {
	font-weight: 700;
	padding: 0.7em 0;
	display: inline-block;
	width: 180px;
}
input {
	border: 1px solid #ccc;
	padding: 0.2em;
	width: 310px;
	.box-sizing();
	@media @mobile {
		width: 100%;
	}
	&[type=button] {
		width: 100%;
		padding: 0.5em;
		margin-top: 0.5em;
		background: dodgerblue;
		font-weight: 700;
		color: #fff;
		border: 0;
		border-radius: 6px;
		@media @mobile {
			margin-top: 1em;
		}
		&:hover {
			background: darkturquoise;
		}
	}
}
a {
	text-decoration: none;
}

// Cost Table
table {
	border-collapse: collapse;
	width: 100%;
}
th, td {
	border: 1px solid #ddd;
	padding: 5px;
}
th {
	background: #f7f7f7;
}
.close-icon {
	color: crimson;
	font-weight: 700;
	font-size: 0.8em;
	&:before {
		font-weight: 400;
	}
}


// Expense Report