@import 'normalize.css';
/**********************
  Expensr
  TinaciousDesign.com
  Ordeau.com
**********************/
.stacktable {
  width: 100%;
}
.st-head-row {
  padding-top: 1em;
}
.st-head-row.st-head-row-main {
  font-size: 1.5em;
  padding-top: 0;
}
.st-key {
  width: 49%;
  text-align: right;
  padding-right: 1%;
}
.st-val {
  width: 49%;
  padding-left: 1%;
}
.stacktable.large-only {
  display: table;
}
.small-only {
  display: none;
}
@media (max-width: 500px) {
  .large-only {
    display: none;
  }
  .stacktable.small-only {
    display: table;
  }
}
@font-face {
  font-family: 'LigatureSymbols';
  src: url('LigatureSymbols-2.09.eot');
  src: url('LigatureSymbols-2.09.eot?#iefix') format('embedded-opentype'), url('LigatureSymbols-2.09.woff') format('woff'), url('LigatureSymbols-2.09.ttf') format('truetype'), url('LigatureSymbols-2.09.svg#LigatureSymbols') format('svg');
  src: url('LigatureSymbols-2.09.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.lsf,
.lsf-icon:before {
  font-family: 'LigatureSymbols';
  font-style: normal;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.lsf-icon:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}
html,
input {
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: "omnes-pro", 'helvetica neue', arial, sans-serif;
  font-size: 1.1em;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
  text-align: center;
  margin: 0.4em 0 0.2em 0;
}
.container {
  max-width: 500px;
  padding: 20px;
  margin: 20px auto;
  background: #ebebeb;
}
@media all and (max-width: 500px) {
  .container {
    margin: 0 auto;
  }
}
.welcome {
  font-size: 1.2em;
  text-align: center;
}
.welcome p {
  margin-top: 0.2em;
}
:focus {
  outline: 0;
  box-shadow: 0 0 10px rgba(30, 144, 255, 0.4);
}
label {
  font-weight: 500;
  padding: 0.7em 0;
  display: inline-block;
  width: 180px;
}
input {
  border: 1px solid #ccc;
  padding: 0.2em;
  width: 310px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@media all and (max-width: 500px) {
  input {
    width: 100%;
  }
}
input[type=button] {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  background: dodgerblue;
  font-weight: 500;
  color: #fff;
  border: 0;
  border-radius: 6px;
}
@media all and (max-width: 500px) {
  input[type=button] {
    margin-top: 1em;
  }
}
input[type=button]:hover {
  background: darkturquoise;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  width: 100%;
  color: #000;
}
th,
td {
  border: 1px solid #ddd;
  padding: 5px;
}
th {
  background: #f7f7f7;
  font-weight: 500;
}
.close-icon {
  color: crimson;
  font-weight: 500;
  font-size: 0.8em;
}
.close-icon:before {
  font-weight: 400;
  padding-left: 5px;
}
@media all and (max-width: 500px) {
  .responsive-table {
    display: none;
  }
}
.st-head-row.st-head-row-main {
  display: none;
}
.st-head-row {
  padding-top: 0;
}
.st-key,
.st-val {
  padding: 5px 10px;
}
.st-key {
  font-weight: 700;
  width: 23%;
}
.st-key .lsf-icon {
  display: none;
}
.st-key .lsf-icon:before {
  display: none;
}
.st-val {
  width: 65%;
}
.stacktable th,
.stacktable td {
  border: 0;
}
.stacktable th {
  border-top: 20px solid #ebebeb;
}
.stacktable .close-icon {
  padding-bottom: 20px;
}
.camping-theme {
  background-image: url(../img/sky.png);
  background-size: 50%;
}
.camping-theme .illustrations {
  height: 670px;
  width: 100%;
  background-image: url(../img/trees-700.png), url(../img/ground.png);
  background-position: center top, center bottom;
  background-repeat: repeat-x;
  position: relative;
  overflow: hidden;
}
.camping-theme .tent {
  position: absolute;
  top: 25%;
  right: 7%;
}
.camping-theme .camper-fireplace {
  position: absolute;
  top: 35%;
  left: 30%;
}
.camping-theme .camper-wood {
  position: absolute;
  top: 20%;
  left: 20%;
}
@media all and (max-width: 500px) {
  .camping-theme .illustrations {
    height: 600px;
  }
  .camping-theme .tent {
    width: 280px;
    right: -30%;
  }
  .camping-theme .camper-fireplace {
    width: 300px;
    top: 50%;
    left: 10%;
  }
  .camping-theme .camper-wood {
    width: 90px;
    top: 20%;
    left: 6%;
  }
}
