/**********************
  Expensr
  TinaciousDesign.com
  Ordeau.com
**********************/

@import 'normalize.css';

/**********************
  Styles
**********************/

html {
	background: #efefef;
	-webkit-font-smoothing: antialiased;
}
body {
	font-family: 'noto sans', 'helvetica neue', arial, sans-serif;
	font-size: 1.1em;
}

.container {
	max-width: 600px;
	padding: 20px;
	margin: 20px auto;
	background: #fff;
}

// Welcome
.welcome {
	//
}

// Form

// Cost Table
table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid #ddd;
	padding: 5px;
}

// Expense Report