@import 'normalize.css';
/**********************
  Expensr
  TinaciousDesign.com
  Ordeau.com
**********************/
html,
input {
  -webkit-font-smoothing: antialiased;
}
html {
  background: #efefef;
}
body {
  font-family: "museo-slab", consolas, monaco, 'courier new', sans-serif;
  font-size: 1.1em;
}
h1,
h2,
h3,
h4 {
  font-weight: 100;
}
.container {
  max-width: 600px;
  padding: 20px;
  margin: 20px auto;
  background: #fff;
}
table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ddd;
  padding: 5px;
}
